<div class="container mt-5">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username with two button addons">
        <button class="btn btn-outline-secondary" type="button">Search</button>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticModal" (click)="ClickShow()">Create</button>
    </div>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>City</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of EmployeeObject">
                <td>{{emp.Name}}</td>
                <td>{{emp.Age}}</td>
                <td>{{emp.Salary}}</td>
                <td>{{emp.City}}</td>
                <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal" (click)="OnEdit(emp)">Edit</button> |
                    <button class="btn btn-danger" (click)="DeleteEmployee(emp.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" formControlName="Age">
                </div>
                <div class="form-group">
                    <label class="form-label">Salary</label>
                    <input type="text" class="form-control" formControlName="Salary">
                </div>
                <div class="form-group">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" formControlName="City">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Close</button>
          <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="InsertEmployee()">Insert</button>
          <button type="button" class="btn btn-primary" *ngIf="showUpdate" (click)="UpdateEmployee()">Update</button>
        </div>
      </div>
    </div>
</div>